
.wrapper{
    width: 100%;
    height: auto;
}

.board{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid 6px #555;
    width: 100%;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.square{
    width: 13%;
    height: 100px;
    max-width: 10vw;
    max-height: 10vw;
    flex-grow: 1;
    margin: 10px;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}